body {
  margin: 0;
  background-color: #807a7a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.content {
  margin-left: 6px;
  margin-right: 6px;
}

.quote {
  padding: 30px 10px 10px 0;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
}

.author {
  margin-right: 3px;
  font-weight: 700;
  font-size: 1.3em;
  text-align: right;
  padding: 5px;
}

#quote-box {
  border-radius: 10px;
  height: auto;
  width: 600px;
  color: #fff;
  background: linear-gradient(45deg, transparent, rgb(101, 101, 70), rgb(99, 80, 8));
  transition: all 1s;
  font-size: 18px;
}
#quote-box:hover{
  background: linear-gradient(50deg, transparent, rgb(95, 95, 67), rgb(88, 70, 7));
}
.btn {
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background: linear-gradient(45deg, transparent, rgb(121, 121, 85), rgb(106, 86, 13));
  color: inherit;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.btn:hover {
  background: inherit;
  letter-spacing: 3px;
  color: hsl(0, 0%, 100%);
  box-shadow: #000000 0px 7px 29px 0px;
}

.btn:active {
  letter-spacing: 3px;
  background: linear-gradient(45deg, transparent, rgb(101, 101, 70), rgb(99, 80, 8));
  color: hsl(0, 0%, 100%);
  box-shadow: #000030 0px 7px 29px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

@media screen and (max-width:768px) {
  #quote-box {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}